$red: #981212;
$dark-red: #492626;
$light-red: #A98989;
$white: #fff;

$font-mont: url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
$f1: 100;
$f6: 600;
$f8: 800;